<<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <h1 class="titulo">Rincon Paramo</h1>
        <div class="conocenos">
            <div class="subcontainer">
                <h3 class="subtitulo">¿Quienes somos?</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam necessitatibus laborum sunt recusandae illo adipisci dolore? Ut, magni. Ex minima debitis aliquid soluta harum iure id, vel fuga omnis accusantium!</p>
            </div>
            <div class="subcontainer">
                <img src="images/papeleria_conocenos.jpg" alt="papeleria">
            </div>
            <div class="subcontainer">
                <h3>Nuestros valores</h3>
                <p>Contamos con distintos valores en la empresa, entre los que se encuentran:</p>
                <ul>
                    <li>Honestidad</li>
                    <li>Compromiso</li>
                    <li>Dedicacion</li>
                </ul>
            </div>
        </div>  
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>