<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <br>
        <h1 class="titulo">Rincón Paramo</h1>
        <div class="container" id="containerConocenos">
            <div class="conocenos">
                <div class="subcontainer">
                    <h3 class="subtitulo">¿Quiénes somos?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam necessitatibus laborum sunt recusandae illo adipisci dolore? Ut, magni. Ex minima debitis aliquid soluta harum iure id, vel fuga omnis accusantium!</p>
                </div>
                <div class="subcontainer">
                    <img src="images/papeleria_conocenos.jpg" alt="papelería">
                </div>
                <div class="subcontainer">
                    <h3>Nuestros valores</h3>
                    <p>Contamos con distintos valores en la empresa, entre los que se encuentran:</p>
                    <ul>
                        <li id="honestidad">Honestidad</li>
                        <li id="compromiso">Compromiso</li>
                        <li id="dedicacion">Dedicación</li>
                    </ul>
                </div>
                <div class="subcontainer">
                    <img id="imagenValor" src="" alt="">
                </div>
                <script>
                    // Obtén referencias a los elementos de la lista y la imagen
                    const listaValores = document.querySelectorAll('li');
                    const imagenValor = document.getElementById('imagenValor');
            
                    // Asigna un manejador de eventos para cada valor de la lista
                    listaValores.forEach(valor => {
                        valor.addEventListener('click', () => {
                            // Obtiene el valor del atributo id del elemento seleccionado
                            const valorSeleccionado = valor.id;
            
                            // Determina la ruta de la imagen correspondiente
                            let imagenSrc;
                            if (valorSeleccionado === 'honestidad') {
                                imagenSrc = 'images/honestidad.png';
                            } else if (valorSeleccionado === 'compromiso') {
                                imagenSrc = 'images/compromiso.png';
                            } else if (valorSeleccionado === 'dedicacion') {
                                imagenSrc = 'images/dedicacion.png';
                            }
            
                            // Actualiza el src de la imagen con la ruta correspondiente
                            imagenValor.src = imagenSrc;
                            imagenValor.style.transform = 'scale(1.5)';
                            imagenValor.style.transition = 'all 0.5s ease-in-out';
                        })
                    })
                </script>
            </div>  
        </div>
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>
