<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <!--Navbar start-->
        <header>
            <%- include('navbar') %>
        </header>
        <!--End of Navbar-->
        <!--Creacion de cuenta-->
        <h1 class="titulo">Registro</h1>
        <form class="formulario">
            <div class="form-group">
                <label for="exampleInputName">Nombre y Apellidos</label>
                <input type="name" class="form-control" id="nombre" aria-describedby="nameHelp" placeholder="Mariano Peña">
              </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Correo Electronico</label>
              <input type="email" class="form-control" id="correo" aria-describedby="emailHelp" placeholder="example@gmail.com">
              <small id="emailHelp" class="form-text text-muted"><center>Nunca compartiremos tus datos personales con nadie</center></small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="contrasena" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Confirmar Password</label>
                <input type="password" class="form-control" id="confirmar_contrasena" placeholder="Password">
            </div>
        </br>
            <button type="submit" class="btn btn-primary">Submit</button>
            <p><a class="link-opacity-75" href="/login">Ya tienes una cuenta?</a></p>
        </form>
        <!--End of form-->
        <!--Footer start-->
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>