<!--Opciones de dashboard por usuarios-->
<div class="menuizquierdo">
    <ul class="lateralmenu">
        <li><a href="/perfil">Información personal</a></li>
        <li><a href="/perfil/modificar/contrasenia">Modificar Contraseña</a></li>
        <li><a href="/perfil/direcciones">Direcciones</a></li>
        <li><a href="/perfil/compras">Compras</a></li>
        <li><a href="/cerrar">Cerrar sesión</a></li>
    </ul>
</div>