<!-- footer.ejs -->
<footer>
    <div class="columnas">
        <span>Contactanos</span>
        <ul class="lista-footer">
            <li><a href="https://www.facebook.com/"><img src="images/icono_facebook.png" alt="facebook"></a></li>
            <li><a href="https://www.instagram.com/rinconparamo_bz/?ref=en.thebell.io"><img src="images/icono_instagram.png" alt="instagram"></a></li>
            <li><a href="https://wa.me/5583614589"><img src="images/icono_correo.png" alt="whatsapp"></a></li>
        </ul>
    </div>
    <div class="div-terminos">
        <span>Todos los derechos reservados © <%= currentYear %></span> <!--Derechos reservados dinamicos para el año actual de consulta de la pagina web-->
    </div>
</footer>
