<!DOCTYPE html>
<html lang="es">
    <%- include('head') %>
    <body>
        <header>
            <%- include('navbar') %>
        </header>
        <form class="formulario" method="POST" action="/forgotPassword">
            <div class="form-group">
                <h2 class="titulo">Recuperar contraseña</h2>
                <br><br>
                <label for="correoRecuperacion">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" name="correo" aria-describedby="emailHelp" placeholder="tuCorreo@gmail.com" required>
            </div>
            <!-- Botón para enviar la solicitud de recuperación -->
            <button type="submit" class="btn btn-primary">Recuperar contraseña</button>
        </form>
        <!--Footer start-->
        <%- include('footer', { currentYear: new Date().getFullYear() }) %>
    </body>
</html>
