<!-- navbar.ejs -->
<nav class="navbarM">
    <ul class="menu-horizontal">
        <li><a href="/"><image src = "images/favicon.png"></image>Inicio</a></li>
        <li><a href="/conocenos">Conócenos</a></li>
        <li><a href="/crochet">Crochet</a></li>
        <li><a href="/productos">Papeleria</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>
