<nav class="navbarM">
    <ul class="menu-horizontal">
        <li><a href="/"><image src = "/images/favicon.png"></image>Inicio</a></li>
        <li><a href="/conocenos">Conócenos</a></li>
        <% if (userRole == "cliente") { %>
            <li><a href="/productos">Papeleria</a></li>
            <li><a href="/perfil"><%= userName %></a></li>
            <li><a href="/carrito"><img src="/images/cart.svg" alt="Carrito de compras" style="width: 20px;"></a></li>
        <% } else if(userRole == "editor") { %>
        <li><a href="/productos/agregar">Agregar</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/cerrar">Cerrar Sesion</a></li>
        <% } else if(userRole == "administrador") { %>
        <li class="activadorSub"><a href="/productos">Productos</a>
            <ul class="submenu">
                <li><a href="/productos/agregar">Agregar producto</a></li>
            </ul>
        </li>
        <li class="activadorSub"><a href="/usuarios">Usuarios</a>
            <ul class="submenu">
                <li><a href="/registro">Agregar usuario</a></li>
            </ul>
        </li>
        <li><a href="/cerrar">Cerrar Sesion</a></li>
        <% } else if(userRole == "invitado") { %>
        <li><a href="/productos">Papeleria</a></li>
        <li><a href="/login">Login</a></li>
        <% } %>
    </ul>
</nav>

